<div class="container">
  <div class="row"> 
    <div class="col-sm">
      <br/>
      <p>List visit:</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">date - time</th>
            <th scope="col">Stylist</th>
            <th scope="col">Stylist phone</th>
          </tr>
        </thead>
        <tbody>
          <% @visits.each do |visit| %>
            <%= '<tr>' %>
              <%= "<td>#{visit.client_id}</td>" %>
              <%= "<td>#{visit.client_id}</td>" %>
              <%= "<td>#{visit.date_time}</td>" %>
              <%= "<td>#{visit.barber_id}</td>" %>
              <%= "<td>#{visit.barber_id}</td>" %>
            <%= '</tr>' %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-sm">
      add barber:
      <form action="/admin" method="POST">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name</span>
          </div>
          <input type="text" name="barber[name]" class="form-control" placeholder="Name" aria-label="Barber name" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Phone</span>
          </div>
          <input type="text" name="barber[phone]" class="form-control" placeholder="+7 (***) ***-**-**" aria-label="Barber phone" aria-describedby="basic-addon1">
        </div>
        <button type="submit" class="btn btn-primary">Add barber</button>
      </form>
      <br>
      <h2>
        <span class="bd-content-title">List barbers:<a class="anchorjs-link " href="#basic-example" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></span>
      </h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <% @barbers.each do |barber| %>
            <%= '<tr>' %>
              <%= "<td>#{barber.name}</td>" %>
              <%= "<td>#{barber.phone}</td>" %>
            <%= '</tr>' %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
