<h2>List barbers:</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">created_at</th>
      <th scope="col">updated_at</th>
    </tr>
  </thead>
  <tbody>
    <% @barbers.each do |barber| %>
      <%= '<tr>' %>
        <%= "<td>#{barber.name}</td>" %>
        <%= "<td>#{barber.phone}</td>" %>
        <%= "<td>#{barber.created_at}</td>" %>
        <%= "<td>#{barber.updated_at}</td>" %>
      <%= '</tr>' %>
    <% end %>
  </tbody>
</table>


