      <h2>
        <span class="bd-content-title">List barbers:<a class="anchorjs-link " href="#basic-example" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></span>
      </h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <% @barbers.each do |barber| %>
            <%= '<tr>' %>
              <td><a href="/barber/<%=barber.id%>"><%=barber.name %></a></td>
              <%= "<td>#{barber.phone}</td>" %>
            <%= '</tr>' %>
          <% end %>
        </tbody>
      </table>
